---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description="Impressum von Florentin's Blog">
  <section class="prose">
    <h1 class="text-title">Impressum</h1>
    <p>
      Der Eigentümer dieser Website ist:<br />
      Phichayut Sakwiset<br />
      Kreipeweg 35, D-30459 Hannover<br />
      E-Mail: {siteConfig.email}<br />
      Steuernummer: 26/138/13754
    </p>

    <h2>Allgemein</h2>
    <h3>
      Im Einklang mit der Verordnung über die Online-Streitbeilegung in
      Verbraucherangelegenheiten (ODR-Verordnung)
    </h3>
    <p>
      Wir möchten dich darüber informieren, dass die Verbraucher die Möglichkeit
      haben, Beschwerden bei der Online-Streitbeilegungsplattform der
      Europäischen Kommission einzureichen, die du unter folgender URL findest:
      ec.europa.eu/odr
    </p>
    <p>
      Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
      einer Verbraucherschlichtungsstelle teilzunehmen.
    </p>

    <h2>
      Die folgenden Angaben sind nach deutscher Gesetzgebung zwingend
      erforderlich
    </h2>
    <h3>
      Wir stellen journalistische und redaktionell aufbereitete Inhalte zur
      Verfügung
    </h3>
    <p>
      Daher müssen wir den Namen und den Wohnort der Person nennen, die für den
      Inhalt dieser Website verantwortlich ist: Verantwortlich für den Inhalt
      nach § 18 Abs. 2 MStV ist: Phichayut Sakwiset.
    </p>
  </section>
</BaseLayout>
